{% extends 'main_app/base.html'%}
{%  block content %}


{% for method in methods %}
<div class="hero">
    <div class="container">
        <h1>{{ method.title }} <span class="text-primary"> {{ method.name }} </span> <span class="text-primary">!</span></h1>
        <p>High-quality healthcare services for you and your family.</p>

    </div>
</div>

<div class="container mt-5">
    <div class="row g-3">
        <div class="col-md-4">
            <div class="card card-custom">
                <h5><a href="{% url 'main_app:detail' method.id %}">{{ method.title }}</a></h5>
                <p></p>
                <a href="{% url 'main_app:detail' method.id %}" class="text-light">{{ method.name }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}


